.thumbnail(style='height: 200px')
  = image_tag('http://placehold.it/150x150', :alt => 'photo of this planting', :class => 'img-rounded')

  %h4
    - if defined?(title) && title == 'owner'
      = link_to planting.owner, planting.owner
    - else
      = link_to planting.crop.system_name, planting

  %p
    - if planting.quantity
      Quantity:
      = planting.quantity
    - else
      &nbsp;
